{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", { "root": ["src"] }],
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
